<div class='row'>
  <div class= 'col-md-6'>
    <ul>
      <% @project.milestones.each do |f| %>
      <li><%=f.name%><%=link_to 'Edit',   edit_project_milestone_path(@project) %></li>
      <% end%>
    </ul>
    <%= link_to "Add Milestone", new_project_milestone_path(@project), class:"btn btn-default"  %>
  </div>
</div>
