<div class='row'>
  <div class= 'col-md-6'>
    <ul>
      <% @project.milestones.each do |f| %>
        <li><%= link_to f.name,   project_milestones_path(f) %></li>
      <% end%>
    </ul>
    <%= link_to "Add Milestone", new_project_milestone_path(:project_id), class:"btn btn-default"  %>
  </div>
</div>
