<% provide(:title, 'Home') %>
<div class='row'>
  <div class= 'col-md-6'>
    <ul>
      <% @projects.each do |f| %>
        <li><%= link_to f.name,   project_path(f) %></li>
      <% end%>
    </ul>
    <%= link_to "Add Project", new_project_path, class:"btn btn-default"  %>
  </div>
</div>
