<% provide(:title, 'Home') %>
<div class='row'>
  <div class= 'col-md-6'>
    <%= will_paginate %>
    <ul class="list-group">
      <% @projects.each do |f| %>
        <%= link_to f.name,   project_path(f), class:"list-group-item list-group-item-danger" %>
      <% end%>
    </ul>
    <%= link_to "Add Project", new_project_path, class:"btn btn-default"  %>
    <%= will_paginate %>
  </div>
</div>
